[Unit]



Description=Apache Zookeeper Server



Requires=network.target remote-fs.target



After=network.target remote-fs.target



[Service]



Type=simple



ExecStart=/usr/local/kafka-server/bin/zookeeper-server-start.sh /usr/local/kafka-server/config/zookeeper.properties



ExecStop=/usr/local/kafka-server/bin/zookeeper-server-stop.sh



Restart=on-abnormal



[Install]



WantedBy=multi-user.target